<div class="col-lg-6 col-sm-6 col-xs-12">
	<div class="panel panel-default">
  <div class="panel-heading">
    <button type="button" ng-click='lista()' class="btn btn-primary btn-sm pull-right">Lista</button>
    <h4>Enviar email</h4>
  </div>
  <div class="panel-body">
  	<form class="form-horizontal" method="post" action="#" id="form_personas">
			<div class="form-group">
        <label for="nombres" class="col-md-3 control-label">Asunto</label>
        <div class="col-md-9">
          <input id="asunto" type="text" ng-model="email.asunto" value='' class="form-control" name="asunto" placeholder="asunto"  required autofocus>
        </div>
        <div class="col-md-6">
          <span class="help-block">
            <strong data-erro='asunto'></strong>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="nombres" class="col-md-3 control-label">Contenido</label>
        <div class="col-md-9">
          <textarea rows="5" id="asunto" type="text" ng-model="email.contenido" class="form-control" name="contenido" placeholder="contenido"  required autofocus> </textarea>
        </div>
        <div class="col-md-6">
          <span class="help-block">
            <strong data-erro='contenido'></strong>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="nombres" class="col-md-3 control-label">Destinatarios</label>
        <div class="col-md-9">
          <table class="table table-condenced table-bordered">
          <tbody ng-repeat="persona in personas">
            <tr>
              <td width="5%"><input type="checkbox" name="personas[]" value='{{persona.id}}' ng-model="email.personas[persona.id]"></td>
              <td>{{ persona.nombres }} {{ persona.apellidos }}</td>
            </tr>
          </tbody>
        </table>
        </div>
        <div class="col-md-6">
          <span class="help-block">
            <strong data-erro='personas'></strong>
          </span>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-9 col-md-offset-3">
        	<button type="button" name="registrar"  ng-click='registrar()' class="btn btn-primary">Registrar</button>
      	</div>
      </div>                        
  	</form>
  </div>
</div>
</div>
<div class="col-lg-6 col-sm-6 col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Lista de emails</h4>
    </div>
    <div class="panel-body">
        <table class='table table-bordered table-condenced'>
          <tbody ng-repeat='email in emails'>
            <tr>
              <td>Persona: {{email.personas_nombres}} {{email.personas_apellidos}}</td>
              <td width='10%'><button class='btn btn-sm btn-danger' type='button' name='borrar' ng-click='borrar(email)'>Borrar</button></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
